/* ------------   Google Fonts -------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



/*  ------- Utility css --------- */

body {
    font-family: 'Poppins', sans-serif;
}

/*  ------- header style --------- */
#header {
    background-color: #264653;
}
.banner-img {
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-position: top right;
}




/*  ------- feature bike style --------- */
#featurebikes hr {
    width: 60px;
}
#featurebikes hr:hover {
    height: 3px;
}

.gray-scaled-img {
    filter: grayscale(100%);
}
.gray-scaled-img:hover {
    filter: grayscale(0%);
}



/*  ------- contact section style --------- */
#contact {
    background-color: #264653;
}